.hero{
    display: flex;
    flex-direction: column;
}
.hero h{
    margin-bottom: 620px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 123 000000049 rgb(93, 9, 9);
}


.image--rep img{
    width: 88160px;
    height: 340px;
}
.prote--display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.contaier{
    width: 270px;
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    color: #d30909;
}